* {
  margin: 0;
  padding: 0;
}

body {
  background: url(assets/images/background-pattern-desktop.svg) no-repeat top /
    100vw;
  background-color: white;
}

main {
  display: flex;
  align-items: center; /* Centraliza na vertical */
  height: 100vh; /* Garante que tenha altura suficiente para centralizar */
  justify-content: center; /* (Opcional) Centraliza na horizontal */
}

section {
    width: 40vw;
    height: 50vh;

    border-radius: 20px;
    background-color: white;
}

h1 {
    margin: 20px;
    color: rgb(43, 43, 43);
}

article {
    margin: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;

  color: rgba(34, 34, 34, 0.753);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;

  color: rgb(34, 34, 34);
  font-weight: 600;
}
