* {
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 100%, 100%);
  --Purple-100: hsl(275, 100%, 97%);
  --Purple-600: hsl(292, 16%, 49%);
  --Purple-950: hsl(292, 42%, 14%);

  --font-principal: "Work Sans", sans-serif;
  --tamanho-paragrafos: 14px;
  --peso-paragrafos: 400;
  --peso-subtitulos: 600;
  --peso-titulo: 700;
}

body {
  background: url(../assets/images/background-pattern-desktop.svg) no-repeat top /
    100vw;
  background-color: var(--Purple-100);
  font-family: var(--font-principal);
}

main {
  display: flex;
  align-items: center; /* Centraliza na vertical */
  height: 80vh; /* Garante que tenha altura suficiente para centralizar */
  justify-content: center; /* (Opcional) Centraliza na horizontal */
}

section {
  width: 40vw;
  height: auto;
  padding: 20px;

  border-radius: 20px;
  background-color: var(--white);
}

.titulo-faq {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.titulo-faq > img {
  height: 2rem;
  transition: height 0.3s ease, letter-spacing 0.3s ease;
}

h1 {
  font-size: 2.5em;
  margin: 20px 0;
  color: var(--Purple-950);
  font-weight: var(--peso-titulo);
}

article {
  margin: 10px;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-style: none;
  background-color: var(--white);

  color: var(--Purple-950);
  font-weight: var(--peso-subtitulos);
  font-size: 13px;
}

button:hover {
  color: var(--Purple-600);

  transition: 0.5s;
}

div > p {
  margin: 10px 20px 0 0;
  font-size: var(--tamanho-paragrafos);
  font-weight: var(--peso-paragrafos);
  color: var(--Purple-600);
}

.transitionSuave {
  transition: font-size 0.3s ease, letter-spacing 0.3s ease;
}

.attribution {
  font-size: 11px;
  text-align: center;

  color: var(--Purple-600);
}

.attribution a {
  color: var(--Purple-950);
  text-decoration: none;

  font-weight: 600;
}

.attribution a:hover {
  color: var(--Purple-600);

  transition: 0.5s;
}
